/* CIT 230 - Assignment Portal CSS */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.0rem;
    color: plum;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

header, footer, footer a {
    text-align: center;
    background-color: purple;
    color: plum;
    border-radius: 5px;
}

header img {
    width: 100px;
    height: auto;
    float: right;
    border-radius: 5px;
    border: 5px double #404040
}

footer {
    font-size: 12px;
}