h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

div.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

img {
  border: 4px double black;
}

/* blur placeholder */
picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}