/* MEDIA QUERY - MEDIUM */
@media only screen and (min-width: 628px) {

  /* BODY */
    
  /* HEADER */
  header {
    height: 70px;
  }

  header img {
    height: 70px;
    width: auto;
    margin: 0;
  }
  
  .motto {font-size: 1.25rem;}

  /* NAVIGATION */
  nav button {
    display: none;
  }

   nav ul{
    display: flex;
  }

  nav ul li:first-child {
    border-left: 1px solid white;
  }

  nav ul li {
    border-right: 1px solid white;
  }

  nav ul li a{padding: .5rem;}
    
  /* MAIN */

  /* FOOTER */

} /* end MEDIUM media query */