
.container{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header{
    background-color: #3CB371;
    text-align: center;
    padding: 9px;
    color: white;
    font-family: 'Mali', cursive;
}

header > img{
    width: 125px;
    height: auto;
    vertical-align: middle;
    margin: 0 3rem 0 0;
}

.headertext{
    display: inline-block;
    vertical-align: middle;
}

.headertext h1{
    font-size: 3rem;
    margin: 0;
}

.motto{
    font-size: 1.5rem;
    font-style: italic;
}

.currentconditions{
    display: inline-block;
    margin: 1rem 0 1rem 3rem;
    padding: 1rem;
    vertical-align: middle;
    background-color: rgba(0,87,25,.75);
    border: 3px solid rgba(0,87,25,1);
    font-size: 1.2rem;
}

.currentconditions img{
    width: 75px;
    height: auto;
}

.currentconditions p{
    display: inline-block;
    vertical-align: top;
}